@charset "utf-8";

@import "reset";
@import "normalize";

html{min-height:100%;position:relative}

body {
  height:100%;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
}

.clear {
  clear: both;
}

.fb-like {
  float: left;
}

a {
  color: black;
  text-decoration: none;
  font-weight: 800;
}

a:hover {
  text-decoration: underline;
}

footer {
  font-weight: 300;
  margin: 75px 0px 50px 0px;
}


@import "layout";
@import "pages";
@import "article";
@import "iphone";
@import "github";
@import "ionicons";
