@charset "utf-8";

@import "reset";
@import "normalize";

html{min-height:100%;position:relative}

body {
  height:100%;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
}

@import "layout";
@import "pages";
@import "article";
@import "iphone";
@import "github"
