@media screen and (max-width: 960px){
  .jpoz {
    position: absolute;
  }
  .contacts {
    position: absolute;
    left: 75px;
    top: 25px;
    width: auto;
    height: 50px;
    line-height: 50px;
    padding: 0px 10px 0px 10px;

    a.contact {
      padding: 0px 3px;
      display: inline-block;
    }
  }

  #content {
    margin-top: 75px;
    padding: 25px;
  }
}
