
h4 {
  font-weight: 100;
}

#nav_back{
    width:20%;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
    z-index:-1;
    background: #161618;
}

#sections {
  float:left;
  width:100%;

  section {
    float:left;
  
    &#nav {
      background: #161618;
      width:20%;
    }
    &#content {
      width:80%;
    }
  }
}

nav {
  color: #a3a4a7;
  -webkit-box-shadow: inset -5px -5px 21px 0px rgba(0, 0, 0, 0.3);
  box-shadow: inset -5px -5px 21px 0px rgba(0, 0, 0, 0.3);

  #jpoz {
    color: #bfc1c6;
    font-family: 'Graduate', cursive;
    padding-left: 55px;
    background:
      url('https://secure.gravatar.com/avatar/2f3eb765ee068dad6931a3cc7961a3b6?s=90');
    background-repeat:repeat-y;
    -webkit-background-size: 45px 45px;
       -moz-background-size: 45px 45px;
         -o-background-size: 45px 45px;
            background-size: 45px 45px;
    height: 45px;
    line-height: 45px;
  }

  h1 {
    margin: 0px;
    padding: 0px 4px;
  }

  h3 {
    margin: 0px;
    padding: 3px 4px;
    background: #131314;
    border-top: 1px solid #38383c;
    border-bottom: 1px solid #0b0b0b;
  }

  a {
    color: #a3a4a7;
    text-decoration: none;
  }

  ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;

    li {
      border-top: 1px solid #38383c;
      border-bottom: 1px solid #0b0b0b;
      padding: 17px 10px;
    }
  }

  .selected {

  }

}

#content {
  widht: 100%;
  header {
    .btn { display: none; }
    #title {
      font-weight: 600;
      font-size: 32px;
      margin-left: 10px;
      height: 45px;
      line-height: 45px;
    }
    width: 100%;
  }

  #page_content {
    h1 {
      margin-top: 10px;
    }
    article {
      margin-left: 10px;
    }
    footer {
      font-size: 10px;
      color: #ededed;
      text-align:center;
    }
  }
}
