body {
  background: url(http://farm9.staticflickr.com/8528/8623533082_3a41e0f61b_k.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header {
  background: #ddd;
  width: 80%;
  padding: 30px 30px 90px 30px;
  margin-top: 100px;  

  .contacts {
    margin-top: 10px;
    margin-bottom: -40px;  
  }
}

#content {
  float: right;
  background: white;
  width: 90%;
  margin-top: -74px;
  padding: 10px;

  .contacts {
    width: 80%;
    margin: -80px auto 30px auto;

    a.contact {
      margin-right: 10px;
      padding-left: 26px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.jpoz {
  font-family: Comfortaa;
  font-weight: 300;
  font-size: 30px;

  .net {
      opacity: 0.5;
  }
}

.contacts {

  opacity: 0.8;

  a.contact {
    display: inline-block;
    padding: 0px 10px;
    color: black;
    text-decoration: none;
    background-repeat: no-repeat;

    &.gmail {
      background-image: url(/images/489-gmail@2x.png);
      background-size: 23px;
      line-height: 18px;  
    }
    &.github {
      background-image: url(/images/488-github@2x.png);
      background-size: 23px;
      line-height: 25px;  
    }
    &.twitter {
      background-image: url(/images/498-twitter@2x.png);
      background-size: 23px;
      line-height: 20px;  
    }
  }
}

i {
  display: inline-block;
  width: 23px;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 30px;
  margin-right: 4px;

  &.gmail {
    background-image: url(/images/489-gmail@2x.png);
  }
  &.github {
    background-image: url(/images/488-github@2x.png);
  }
  &.twitter {
    background-image: url(/images/498-twitter@2x.png);
  }

}
