
#TextFader {
  width: 100%;
  margin: 5% auto;
  font-size: 30px;
  line-height: 50px;
  text-align: center;

  span {
    opacity: 0.0;
  }
}

#toc {

  article {
    padding: 50px 0px;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    text-align: center;

    &.first {
      border-top: 1px solid rgba(0,0,0,0.3);
    }

    .title {
      a:hover {
        text-decoration: underline;
      }
      a {
        display: block;
        font-size: 2.5em;
        letter-spacing: -2px;
        text-decoration: none;
        text-align: center;
        margin-bottom: 0.5em;
        font-weight: 800;
        color: #333;
        font-family: 'Open Sans', sans-serif;
      }
      div.date {
        text-align: center;
        font-weight: 300;
      }
    }
  }

}

#photos {
  margin-top: 25px;
  margin-bottom: 25px;
  img {
      display: block;
      max-width: 100%;
      height: auto;
      width: auto;
      margin: 0px;
      border: none;
      padding: 0px;
  }
  .photo {
    display: block;
  }
}

#resume, #cover {
  width: 95%;
  h1 {
    text-align: center;
    line-height: 40px;
  }
  table.info {
    width: 100%;
    border-bottom: 1px solid #000;
    line-height: 20px;
    .right {
      padding-bottom: 7px;
      text-align: right;
    }
  }
  p, h1, h2, h3, table {
    margin-bottom: 0.2em;
  }
  .section {
    margin-top: 10px;
    margin-bottom: 20px;
    .job {
      h2 {
        font-size: 1.4em;
        margin-bottom: .2em;
      }
      .position {
        margin-bottom: 1em;
        margin-left: 1em;
        .desc {
          border-bottom: 1px dotted #000;
          .date {
            float: right;
          }
          .title {
            font-weight: bold;
          }
          .title, .date {
            padding-top: 5px;
            display: inline-block;
            background-color: #FFF;
            line-height: 17px;
            margin-bottom: -15px;
          }
        }
      }
      margin: 0px 0px 15px 0px;
    }
  }

  ul {
    margin: 5px 0px 5px 20px;
    list-style-type: circle;
    line-height: 20px;
  }
}

#cover {
  padding-top: 30px;
  p {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 24px;
  }
  .tab {
    width: 30px;
    display: inline-block;
  }
  .light {
    font-size: 16px;
    color: #777;
  }
}

