@charset "utf-8";

@import "reset";
@import "normalize";

body {
  background: #F4F7F8;
  font-family: 'Work Sans', sans-serif;
  text-align: left;
}

main {
    margin: auto;
    width: 100%;
    max-width: 800px;
    box-sizing: border-box;
    max-width: 800px;
}

nav {
    a {
        display: inline-block;
        width: 80px;
        height: 80px;
        background: none;
        border: none;
    }
}
