<% wrap_layout :layout do %>
  <div class='blog'>
    <div class='header'>
      <h1><%= data.page['title'] %></h1>
      <h4><%= current_article.date.strftime('%b %e %Y') %></h4>      
    </div>
    <article>
      <%= yield %>
    </article>
    <footer>
      <p>Copyright © 2013 James Pozdena</p>
    </footer>
  </div>
<% end %>
