---
title: 'JPoz.net | Photos'
section: 'photos'
---
<div id='photos'>
  <% blog(:photos).articles.each_with_index do |photo, i| %>
    <a href='<%= photo.url %>' class="photo">
      <% if photo.data[:url_2] %>
        <img style='width: 50%; float: left;' src='<%= photo.data[:url] %>' />
        <img style='width: 50%; float: right;' src='<%= photo.data[:url_2] %>' />
        <br class='clear'>
      <% else %>
        <img src='<%= photo.data[:url] %>' />
      <% end %>
    </a>
  <% end %>
</div>
