@media screen and (max-width: 768px) {
  /* line 2, iphone.css.scss */
  body {
    overflow: auto; }

  /* line 5, iphone.css.scss */
  #header {
    position: relative!important;
    width: 100%;
    max-width: none;
    height: 75px; }
    /* line 10, iphone.css.scss */
    #header .header-title {
      padding: 50px 3% 3% 10%; }

  /* line 14, iphone.css.scss */
  #content {
    overflow: none;
    padding-top: 100px;
    padding-bottom: 400px;
    padding-left: 0px;
    padding-right: 0px;
    left: 5%;
    width: 90%; } }
