/* line 1, layout.css.scss */
#content {
  outline: 0;
  background-color: #fff;
  margin: 0 auto;
  max-width: 960px;
  width: auto; }

/* line 9, layout.css.scss */
.jpoz {
  color: white;
  background: #262626;
  width: 50px;
  height: 50px;
  padding: 0px;
  position: fixed;
  left: 25px;
  top: 25px;
  text-align: center;
  text-decoration: none;
  font-family: Comfortaa;
  font-weight: 300;
  font-size: 12px;
  line-height: 52px; }

/* line 26, layout.css.scss */
.contacts {
  color: black;
  text-decoration: none;
  background-repeat: no-repeat;
  background: #535353;
  position: fixed;
  left: 25px;
  top: 75px;
  width: 50px;
  text-align: center;
  padding-bottom: 7px; }
  /* line 38, layout.css.scss */
  .contacts a.contact:hover {
    opacity: 1; }
  /* line 41, layout.css.scss */
  .contacts a.contact {
    display: block;
    margin: 10px auto;
    width: 25px;
    color: #fff;
    text-decoration: none;
    background-repeat: no-repeat;
    opacity: 0.8; }
    /* line 50, layout.css.scss */
    .contacts a.contact.gmail {
      background-image: url(/images/489-gmail@2x-white.png);
      background-size: 23px;
      line-height: 18px; }
    /* line 55, layout.css.scss */
    .contacts a.contact.github {
      background-image: url(/images/488-github@2x-white.png);
      background-size: 23px;
      line-height: 25px; }
    /* line 60, layout.css.scss */
    .contacts a.contact.twitter {
      background-image: url(/images/498-twitter@2x-white.png);
      background-size: 23px;
      line-height: 20px; }
    /* line 65, layout.css.scss */
    .contacts a.contact.instagram {
      background-image: url(/images/492-instagram@2x-white.png);
      background-size: 23px;
      line-height: 20px; }
    /* line 70, layout.css.scss */
    .contacts a.contact.simple {
      background-image: url(/images/394-bank@2x-white.png);
      background-size: 23px;
      line-height: 20px; }
