#speedread {
  margin: 10% auto;
  background: #535353;
  color: #DDDDDD; }
  #speedread .hidden {
    display: none; }
  #speedread .speedread-title, #speedread .speedread-controls {
    text-align: center;
    font-size: 1.5em;
    text-transform: uppercase;
    padding-bottom: 0.5em;
    padding-top: 0.5em; }
  #speedread .speedread-controls button {
    background: transparent;
    border: 2px solid #64b24d;
    border-radius: 6px;
    color: #64b24d;
    font-weight: bold;
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.2s;
    /* Safari */
    transition-duration: 0.2s;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase; }
  #speedread .speedread-controls button:hover {
    background-color: #64b24d;
    color: white; }
  #speedread .speedread-controls input {
    background: transparent;
    border: none;
    border-bottom: 2px solid #DDDDDD;
    color: #DDDDDD;
    width: 100px; }
  #speedread .speedread-input-container textarea {
    box-sizing: border-box;
    width: 100%;
    min-height: 200px;
    resize: vertical; }
  #speedread .speedread-overlay {
    opacity: 0.99;
    background-color: #ccc;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1000; }
    #speedread .speedread-overlay .speedread-words {
      opacity: 1;
      background-color: #535353;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      min-height: 100vh;
      font-size: 5vw;
      text-align: center; }

#countdown {
  margin: 10% auto;
  background: #535353;
  color: #DDDDDD; }
  #countdown .countdown_row {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    padding: 50px; }
  #countdown .timebox {
    width: 140px;
    padding: 20px; }
  #countdown .title {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    padding-bottom: 15px; }
  #countdown .time {
    text-align: center;
    font-size: 60px;
    text-transform: uppercase; }

#TextFader {
  width: 100%;
  margin: 5% auto;
  font-size: 30px;
  line-height: 50px;
  text-align: center; }
  #TextFader span {
    opacity: 0.0; }

#toc article {
  padding: 50px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  text-align: center; }
  #toc article.first {
    border-top: 1px solid rgba(0, 0, 0, 0.3); }
  #toc article .title a:hover {
    text-decoration: underline; }
  #toc article .title a {
    display: block;
    font-size: 2.5em;
    letter-spacing: -2px;
    text-decoration: none;
    text-align: center;
    margin-bottom: 0.5em;
    font-weight: 800;
    color: #333;
    font-family: 'Open Sans', sans-serif; }
  #toc article .title div.date {
    text-align: center;
    font-weight: 300; }

#photos {
  margin-top: 25px;
  margin-bottom: 25px; }
  #photos img {
    display: block;
    max-width: 100%;
    height: auto;
    width: auto;
    margin: 0px;
    border: none;
    padding: 0px; }
  #photos .photo {
    display: block; }

#resume, #cover {
  width: 95%; }
  #resume h1, #cover h1 {
    text-align: center;
    line-height: 40px; }
  #resume h2 a, #cover h2 a {
    color: #777;
    font-weight: 100; }
  #resume h4, #cover h4 {
    font-weight: 100;
    line-height: 30px; }
  #resume table.info, #cover table.info {
    width: 100%;
    border-bottom: 1px solid #000;
    line-height: 20px; }
    #resume table.info .right, #cover table.info .right {
      padding-bottom: 7px;
      text-align: right; }
  #resume p, #resume h1, #resume h2, #resume h3, #resume table, #cover p, #cover h1, #cover h2, #cover h3, #cover table {
    margin-bottom: 0.2em; }
  #resume .section, #cover .section {
    margin-top: 10px;
    margin-bottom: 20px; }
    #resume .section .job, #cover .section .job {
      margin: 0px 0px 15px 0px; }
      #resume .section .job h2, #cover .section .job h2 {
        font-size: 1.4em;
        margin-bottom: .2em; }
      #resume .section .job .position, #cover .section .job .position {
        margin-bottom: 1em;
        margin-left: 1em; }
        #resume .section .job .position .desc, #cover .section .job .position .desc {
          border-bottom: 1px dotted #000; }
          #resume .section .job .position .desc .date, #cover .section .job .position .desc .date {
            float: right; }
          #resume .section .job .position .desc .title, #cover .section .job .position .desc .title {
            font-weight: bold; }
          #resume .section .job .position .desc .title, #resume .section .job .position .desc .date, #cover .section .job .position .desc .title, #cover .section .job .position .desc .date {
            padding-top: 5px;
            display: inline-block;
            background-color: #FFF;
            line-height: 17px;
            margin-bottom: -15px; }
  #resume .tech_used, #cover .tech_used {
    font-weight: 300;
    color: #8B8B8B;
    font-style: italic; }
  #resume ul, #cover ul {
    margin: 5px 0px 5px 20px;
    list-style-type: circle;
    line-height: 20px; }

#cover {
  padding-top: 30px; }
  #cover p {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 24px; }
  #cover .tab {
    width: 30px;
    display: inline-block; }
  #cover .light {
    font-size: 16px;
    color: #777; }
