---
title: 'COUNTDOWN TO FREEDOM'
---
<div id='countdown'>
  <div class='countdown_row countdown_top'>
    <div>Days</div>
    <div>Hours</div>
    <div>Minutes</div>
    <div>Seconds</div>
  </div>
  <div class='countdown_row countdown_bottom'>
    <div id='days'>999</div>
    <div id='hours'>999</div>
    <div id='minutes'>999</div>
    <div id='seconds'>999</div>
  </div>
</div>

<script>
var deadline = new Date("Feb 25, 2019 18:00:00").getTime();
var x = setInterval(function() {
  var now = new Date().getTime();
  var t = deadline - now;
  var days = Math.floor(t / (1000 * 60 * 60 * 24));
  var hours = Math.floor((t%(1000 * 60 * 60 * 24))/(1000 * 60 * 60));
  var minutes = Math.floor((t % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((t % (1000 * 60)) / 1000);
  document.getElementById("days").innerHTML = days;
  document.getElementById("hours").innerHTML = hours;
  document.getElementById("minutes").innerHTML = minutes;
  document.getElementById("seconds").innerHTML = seconds;
  if (t < 0) {
      clearInterval(x);
      document.getElementById('countdown').innerHTML = "FREEDOM";
  }
}, 1000);
</script>
