---
  title: James R. Pozdena
---
<div id='cover'>
  <div>
    <p>Greetings,</p>
    </br>
    <p><span class='tab'>&nbsp;</span>My name is James Pozdena. I love Airbnb, looked to see if you guys have any jobs that would fit me, and you do! Your Software Engineer, Full Stack position looks tailor-made for me. I've been doing Rails professionally for the last 6 years. Usually deploying with JRuby. From creating a project announced on the Today show the night before to creating a state of the art electronic health records platform for hospitals I've had my fair share of battles.
    </p>
    <p>A little about me: I'm currently living in Oregon but looking for my next home. I love using technology to make people happy. It is what drives me to keep improving my skill set as a developer and tech evangalist. I'm someone that works best in a team. I am highly engergetic and addicted to learning and teaching others.</p>
    <p>I hope you'll give me a change to amaze you.</p>

    <p>Best,</p>

    <p>James Pozdena<br/>
    <span class=light>jpoz@jpoz.net<br/>
      503.348.0170</span></p>
  <div>
</div>

