---
title: JPoz.net
---

<h1>
  Hi, I'm James. I write software
</h1>


<div class='hillside'>
  <div class='tree'> </div>
  <div class='tree'> </div>
  <div class='tree'> </div>
  <div class='tree'> </div>
  <div class='tree'> </div>
  <div class='tree'> </div>
  <div class='tree'> </div>
  <div class='tree'> </div>
  <div class='tree'> </div>
  <div class='tree'> </div>
  <div class='tree'> </div>
</div>
