---
title: 'JPoz.net'
---

<div id='TextFader' actlike='TextFader'>
Hello!
My name is James.
I'm a developer.
I live in Portland Oregon.
Sometimes I work on websites. Sometimes I work on mobile apps.
I'm very friendly. You should contact me.
:-)
</div>



