---
title: JPoz.net
---


<div class='hi'>
  Hi! I'm James.
  <span>
  I write software.
  </span>
</div>

<nav>
  <a id='github_link' class='tooltip' href='https://github.com/jpoz' target='_blank' data-text="Github">
    <i class="fab fa-github-alt"></i>
  </a>
  <a id='resume_link' class='tooltip' href='/resume.html' data-text="Resume">
    <i class="fas fa-file-user"></i>
  </a>
  <a id='twitter_link' class='tooltip' href='https://twitter.com/jpoz' target='_blank' data-text="Twitter">
    <i class="fab fa-twitter"></i>
  </a>
</nav>

