---
  title: James R. Pozdena
---
<div id='resume'>
  <h1 class='name'>James Pozdena</h1>
  <table class='info'>
    <tr>
      <td class='left'>
        Portland, OR
      </td>
      <td class='right'>
        jpoz@jpoz.net
      </td>
    </tr>
  </table>

  <div class='section'>
    <h1>Experience</h1>

    <div class='job'>
      <h2>Simple (formally BankSimple)</h2>
      <div class='position'>
        <div class='desc'>
          <span class='title'>Director of Internal Engineering</span>
          <span class='date'>Feb 2013-Present</span>
        </div>
        <ul>
          <li>Managing director of internal engineering team.</li>
          <li>Responsible for the success all internal engineering efforts.</li>
          <li>Reporting directly to VP of engineering.</li>
          <li>Technical Lead to Product, Customer Service and Marketing teams</li>
          <li>General Archetech for overall engineering strategy.</li>
        </ul>
      </div>

      <div class='position'>
        <div class='desc'>
          <span class='title'>Backend Engineer</span>
          <span class='date'>Oct 2011-Feb 2013</span>
        </div>
        <ul>
          <li>Main Engineer on multiple backend services</li>
          <li>Scaled up services from 100 to 30,000 customers</li>
          <li>Lead Ruby Engineer</li>
        </ul>
      </div>
    </div>

    <div class='job'>
      <h2>ELC</h2>
      <div class='position'>
        <div class='desc'>
          <span class='title'>Senior Lead Engineer</span>
          <span class='date'>Apr 2010–Oct 2011</span>
        </div>
        <ul>
          <li>Project lead for various enterprise class web applications</li>
          <li>Manages agile development team</li>
          <li>Designed application stacks and platforms</li>
          <li>Works directly with clients to create meaningfully rich applications</li>
        </ul>
      </div>
    </div>

    <div class='job'>
      <h2>Revelation Inc.</h2>
      <div class='position'>
        <div class='desc'>
          <span class='title'>Web/mobile application developer</span>
          <span class='date'>June 2008–Apr 2010</span>
        </div>
        <ul>
          <li>Lead in development of an market research web application</li>
          <li>Work directly with CTO and CEO to turn business plans into product</li>
        </ul>
      </div>
    </div>

    <div class='job'>
      <h2>Market Strategies International (formally Doxus)</h2>
      <div class='position'>
        <div class='desc'>
          <span class='title'>Market Research Analyst</span>
          <span class='date'>June 2006–June 2008</span>
        </div>
        <ul>
          <li>Designed program layout & logic for web surveys</li>
          <li>Programmed statistical tool for organization wide use</li>
        </ul>
      </div>
    </div>

    <div class='job'>
      <h2>EcoNorthwest</h2>
      <div class='position'>
        <div class='desc'>
          <span class='title'>Research Assistant</span>
          <span class='date'>June 2005-Sept 2005</span>
        </div>
        <ul>
          <li>Programmed economic models in statistical software packages</li>
        </ul>
      </div>
    </div>
  </div>

  <div class='section'>
    <h1>Other Experience</h1>
    <div class='job'>
      <h2>Saturday Academy</h2>
      <div class='position'>
        <div class='desc'>
          <span class='title'>Instructor</span>
          <span class='date'>March 2013-Present</span>
        </div>
        <ul>
          <li>Teaching web development and general programming skills</li>
        </ul>
      </div>
    </div>
    <div class='job'>
      <h2>Notion LLC</h2>
      <div class='position'>
        <div class='desc'>
          <span class='title'>Owner</span>
          <span class='date'>April 2012-Present</span>
        </div>
        <ul>
          <li>Personal contracting company.</li>
          <li>General web development and deployment contracting</li>
          <li>Helping small businesses succeed on the web</li>
        </ul>
      </div>
    </div>
  </div>

  <div class='section skills'>
    <h1>Skills</h1>
    <ul>
      <li>Core languages: Ruby, Swift, JavaScript, Clojure, Go, Bash, Objective-C, SQL, HTML, CSS</li>
      <li>Technologies: Ruby on Rails, JRuby, MongoDB, Postgres, RabbitMQ(AMQP), Riak, Node.js, AWS,
Git, Selenium, RSpec, jQuery, MooTools, Ember.js, Angular, Capistrano</li>
    </ul>
  </div>


  <div class='section'>
    <h1>Education</h1>

    <h2>University of Oregon</h2>
    <p>Major GPA: 3.82, Overall GPA: 3.67. Deans’ List: 2004-2006</p>
  </div>



</div>

