---
  title: James R. Pozdena
---
<div id='resume'>
  <h1 class='name'>James Pozdena</h1>
  <table class='info'>
    <tr>
      <td class='left'>
        Portland, OR
      </td>
      <td class='right'>
        jpoz@jpoz.net
      </td>
    </tr>
  </table>

  <div class='section'>
    <h1>Experience</h1>

    <div class='job'>
      <h2>Airbnb <a target="_blank" href="https://www.airbnb.com/">www.airbnb.com</a></h2>
      <h4>Portland, OR</h4>
      <div class='position'>
        <div class='desc'>
          <span class='title'>Lead Engineer, Service Excellence</span>
          <span class='date'>January 2017-Present</span>
        </div>
        <ul>
          <li>Member of companies' service oriented architecture leadership</li>
          <li>Launched new messaging platform for Airbnb globally</li>
          <li>Moved the majority of Airbnb customer service traffic from email
to in app messaging. Saving the company millions in service cost per year</li>
          <li>Aligned engineering objectives with product priorities and roadmap</li>
          <li>Provide technical mentorship</li>
        </ul>
      </div>

      <div class='position'>
        <div class='desc'>
          <span class='title'>Software Engineer, Service Excellence</span>
          <span class='date'>Feb 2016-January 2017</span>
        </div>
        <ul>
          <li>Worked at all levels of the stack, from API level all the way up to the front-end</li>
          <li>Design new systems to facilitate team objectives</li>
          <li>Worked closely with design teams and internal stakeholders to prioritize engineering tasks</li>
          <li>Interviewed potential engineers. Designed new engineering interview material</li>
        </ul>
      </div>
    </div>

    <div class='job'>
      <h2>Simple <a target="_blank" href="https://www.simple.com/">www.simple.com</a></h2>
      <h4>Online consumer banking services.</h4>
      <div class='position'>
        <div class='desc'>
          <span class='title'>Architect of Internal Engineering</span>
          <span class='date'>July 2014-Feb 2016</span>
        </div>
        <ul>
          <li>General architect for overall engineering strategy.</li>
          <li>Integration lead for the internal engineering projects.</li>
          <li>Grew the internal engineering team by 300%</li>
          <li>Responsible for technical success all internal engineering efforts</li>
          <li>Project owner to product, customer service, finance and marketing teams</li>
          <li>Mentor to junior engineers</li>
        </ul>
      </div>

      <div class='position'>
        <div class='desc'>
          <span class='title'>Full Stack Engineer, Internal Engineering</span>
          <span class='date'>Oct 2011-July 2014</span>
        </div>
        <ul>
          <li>Engineering manager of internal engineering team.</li>
          <li>Responsible for the success all internal engineering efforts.</li>
          <li>Reporting directly to VP of engineering.</li>
          <li>Lead engineer on multiple core services</li>
          <li>Scaled up services from 100 to 100,000+ customers</li>
          <li>Lead Ruby engineer</li>
        </ul>
      </div>
    </div>

    <div class='job'>
      <h2>ELC</h2>
      <h4>Web / Mobile application agency</h4>
      <div class='position'>
        <div class='desc'>
          <span class='title'>Senior Lead Engineer</span>
          <span class='date'>Apr 2010–Oct 2011</span>
        </div>
        <ul>
          <li>Project lead for various enterprise-class web applications</li>
          <li>Manages agile development team</li>
          <li>Designed application stacks and platforms</li>
          <li>Works directly with clients to create meaningfully rich applications</li>
        </ul>
      </div>
    </div>

    <div class='job'>
      <h2>Revelation Inc.</h2>
      <div class='position'>
        <div class='desc'>
          <span class='title'>Web/mobile application developer</span>
          <span class='date'>June 2008–Apr 2010</span>
        </div>
        <ul>
          <li>Lead in development of an market research web application</li>
          <li>Work directly with CTO and CEO to turn business plans into product</li>
        </ul>
      </div>
    </div>

    <div class='job'>
      <h2>Market Strategies International (formally Doxus)</h2>
      <div class='position'>
        <div class='desc'>
          <span class='title'>Market Research Analyst</span>
          <span class='date'>June 2006–June 2008</span>
        </div>
        <ul>
          <li>Designed program layout & logic for web surveys</li>
          <li>Programmed statistical tool for organization wide use</li>
        </ul>
      </div>
    </div>

    <div class='job'>
      <h2>EcoNorthwest</h2>
      <div class='position'>
        <div class='desc'>
          <span class='title'>Research Assistant</span>
          <span class='date'>June 2005-Sept 2005</span>
        </div>
        <ul>
          <li>Programmed economic models in statistical software packages</li>
        </ul>
      </div>
    </div>
  </div>

  <div class='section'>
    <h1>Other Experience</h1>
    <div class='job'>
      <h2>Exercism Mentor</h2>
      <div class='position'>
        <div class='desc'>
          <span class='title'>Go (Golang)/Ruby mentor</span>
          <span class='date'>Jul 2018-Present</span>
        </div>
        <ul>
          <li>Mentor/approve Go and Ruby exercies</li>
        </ul>
      </div>
    </div>
    <div class='job'>
      <h2>Saturday Academy</h2>
      <div class='position'>
        <div class='desc'>
          <span class='title'>Instructor</span>
          <span class='date'>Spring 2013</span>
        </div>
        <ul>
          <li>Teaching web development and general programming skills</li>
        </ul>
      </div>
    </div>
  </div>

  <div class='section skills'>
    <h1>Skills</h1>
    <ul>
      <li>Core languages: Ruby, Go, JavaScript, Bash, Objective-C, SQL, HTML, CSS</li>
      <li>Technologies: Ruby on Rails, JRuby, Postgres, RabbitMQ(AMQP), Riak, Node.js, AWS,
Git, Selenium, RSpec, jQuery, MooTools, Ember.js, Angular, Capistrano, Make</li>
    </ul>
  </div>

  <div class='section'>
    <h1>Education</h1>

    <h2>University of Oregon</h2>
    <p>Major GPA: 3.82, Overall GPA: 3.67. Deans’ List: 2004-2006</p>
  </div>

</div>

